<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
  <div class="container">
      <a class="navbar-brand" href="{% url 'Home' %}">NombreBodega</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
          aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  {% if  request.get_full_path  == '/' %}
                  <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Inicio</a>
                  {% else %}
                  <a class="nav-link" href="{% url 'Home' %}">Inicio</a>
                  {% endif %}
              </li>
              <li class="nav-item">
                  {% if  request.get_full_path  == '/tienda/' or '/tienda/formato/1/' == request.get_full_path or  '/tienda/formato/2/' == request.get_full_path or '/tienda/formato/3/' == request.get_full_path or  '/tienda/formato/4/' == request.get_full_path %}
                  <a class="nav-link active" aria-current="page" href="{% url 'Tienda' %}">Tienda</a>
                  {% else %}
                  <a class="nav-link" href="{% url 'Tienda' %}">Tienda</a>
                  {% endif %}
              </li>
          </ul>

          {% if request.user.is_authenticated %}
          <div class="dropdown ml-auto">
              <button class="btn btn-secondary bg-dark text-white dropdown-toggle" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Bienvenido {{ user.username }}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                  {% for grupo in request.user.groups.all %}
                  <li class=""><a class="dropdown-item text-dark" href="{% url 'perfil' %}">Perfil </a></li>
                  {% if grupo.name == 'admins' %}
                  <li class=""><a class="dropdown-item text-dark" href="{% url 'productosAdmin' %}">Lista
                          Productos</a></li>
                  <li class=""><a class="dropdown-item text-dark" href="{% url 'ListaUsuarios' %}">Lista
                          Usuarios</a></li>
                  <li class=""><a class="dropdown-item text-dark" href="{% url 'listaPedidos' %}">Lista
                          Pedidos</a></li>
                  {% endif%}
                  {% endfor %}
                  <li class=""><a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar Sesion</a></li>
              </ul>
          </div>
          {% else %}
          <a class="nav-link text-white " href="{% url 'Registro' %}">&nbsp; Crear Cuenta</a>
          <a class="nav-link text-white " href="{% url 'Login' %}">&nbsp; Iniciar Sesión</a>
          {% endif %}
      </div>
  </div>
</nav>
