{% extends "base.html" %}


{% load static %}

{% block titulo %}
Lisa Usuarios 
{% endblock titulo %}

{% block styles %}
<link href="{% static 'auth/css/style.css' %}" rel="stylesheet" type="text/css">

{% endblock styles %}


{% block contenido %}


<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de usuario</th>
            <th>Correo Electronico</th>   
            <th>Acciones</th>   

          

        </tr>
    </thead>
{% for userss in users %}
<tbody>
    <tr>
        <td>{{ userss.id }}</td> 
        <td>{{ userss }}</td> 
        <td>{{ userss.email }}</td> 

        
        <td>
            <A class = " text-decoration-none"HREF="{% url 'editarUsuario' userss.id %}">
                <img src="{% static 'tienda/img/editimg.png' %}"
                width ="40px"
                height ="40px"
                alt=""> </a>  

            <a type="button" class="text-decoration-none delete-btn" data-bs-toggle="modal" data-bs-target="#exampleModal{{ userss.id }}{{ userss }}">
                <img src="{% static 'tienda/img/deleteimg.png' %}" width="40px" height="40px" alt="">
            </a>
            <div class="modal fade" id="exampleModal{{ userss.id }}{{ userss }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Se seguro de borrar {{ userss }}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="{% url 'eliminarUsuario' userss.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
                </div>
            </div> 
        </td>

    </tr>

</tbody>

{% endfor %}
</table>
            
{% endblock contenido %}
